[Desktop Entry]
Type=Application
Name=Install Lyra
Comment=Install the system to disk
Exec=pkexec calamares
Icon=/usr/share/pixmaps/lyra.png
Terminal=false
Categories=System;
